<div class="msg2">
  <strong>Reason:</strong> Scheduled maintenance<br>
  <strong>Date:</strong> 25-08-2015<br>
  <strong>Start time:</strong> 09:00<br>
  <strong>Duration:</strong> 54 hour<br>
  <strong>Estimated time of restoration of service:</strong> 27-08-2015 15:00 <br> </div>
<!--************* START OF STANDARD BUREAU FOOTER **************-->
			</div>
			<!-- End: Container -->
		  </div>
		  <!-- End: Columns -->
	    </div>
	    <!-- End: pagewrap -->
		<!-- Start: Footer -->
		<div id="footer">
			<div id="footer-columns">
				<ul id="fc-one">
					<li class="icon-link border-bottom uppercase"><a href="/australia/warnings/?ref=ftr" id="icon-link-warnings"><span>Warnings</span></a></li>
					<li class="row-link-first uppercase"><a href="/water/?ref=ftr">Water</a></li>
					<li class="row-link uppercase"><a href="/climate/?ref=ftr">Climate</a></li>
					<li class="row-link uppercase"><a href="/environment/?ref=ftr">Environment</a></li>
					<li class="border-top"><a href="/cyclone/?ref=ftr">Tropical Cyclones</a></li>
					<li><a href="/tsunami/?ref=ftr">Tsunami Warning Centre</a></li>
					<li><a href="/watl/?ref=ftr">Agriculture - Water and the Land</a></li>
					<li><a href="/marine/?ref=ftr">Marine &amp; Ocean</a></li>
					<li><a href="/uv/?ref=ftr">UV &amp; Sun Protection</a></li>
					<li><a href="/australia/flood/?ref=ftr">Rainfall &amp; River Conditions</a></li>
				</ul>
				<ul id="fc-two">
					<li class="imagebox-links">
						<h3 class="hidden">Graphical Views</h3>
						<ul>
							<li class="first"><a href="/australia/radar/?ref=ftr" id="imagebox-link-radar">Radar</a></li>
							<li><a href="/australia/satellite/?ref=ftr" id="imagebox-link-sat">Sat</a></li>
							<li><a href="/australia/charts/?ref=ftr" id="imagebox-link-maps">Maps</a></li>
						</ul>
					</li>
					<li><a href="/jsp/watl/rainfall/pme.jsp?ref=ftr">Rainfall Forecasts</a></li>
					<li><a href="/climate/ahead/?ref=ftr">Seasonal Outlooks</a></li>
					<li><a href="/climate/change/?ref=ftr">Climate Variability &amp; Change</a></li>
					<li><a href="/climate/data/?ref=ftr">Climate Data Online</a></li>
					<li><a href="/water/ssf/?ref=ftr">Seasonal Streamflow Forecasts</a></li>
					<li><a href="http://water.bom.gov.au/waterstorage/awris/?ref=ftr">Water Storage</a></li>
				</ul>
				<ul id="fc-three">
					<li class="icon-link border-bottom"><a href="/australia/meteye/?ref=ftr" id="icon-link-fe"><span>MetEye&trade;</span></a></li>
					<li><a href="/weather-services/?ref=ftr">National Weather Services</a></li>
					<li><a href="/aviation/?ref=ftr">Aviation Weather Services</a></li>
					<li><a href="/defence/?ref=ftr">Defence Services</a></li>
					<li><a href="http://www.ips.gov.au/?ref=ftr">Space Weather Services</a></li>
					<li><a href="/reguser/?ref=ftr">Registered User Services</a></li>
					<li><a href="/cws/?ref=ftr">Commercial Weather Services</a></li>
				</ul>
				<ul id="fc-four">
					<li class="icon-link border-bottom"><a href="/rss/?ref=ftr" id="icon-link-rss"><span>RSS</span></a></li>
					<li class="row-link-first"><a href="/careers/?ref=ftr">Careers</a></li>
					<li class="row-link"><a href="/site-map/?ref=ftr">Sitemap</a></li>
					<li class="row-link"><a href="/other/feedback/?ref=ftr">Feedback</a></li>
					<li class="border-top"><a href="/foi/?ref=ftr">Freedom of Information</a></li>
					<li><a href="/iwk/?ref=ftr">Indigenous Weather Knowledge</a></li>
					<li><a href="/lam/glossary/?ref=ftr">Glossary</a></li>
				</ul>
				<p id="timestamp">This page was created at <strong><!--#config timefmt="%H:%M" --><!--#echo var="DATE_LOCAL" --> on <!--#config timefmt="%A %e %B %Y (%Z)" --><!--#echo var="DATE_LOCAL" --></strong></p>
				<p id="copyright">&#169; <a href="/other/copyright.shtml?ref=ftr">Copyright</a> Commonwealth of Australia <!--#config timefmt="%Y" --><!--#echo var="DATE_LOCAL" -->, Bureau of Meteorology (ABN 92 637 533 532) | <a href="/other/disclaimer.shtml?ref=ftr">Disclaimer</a> | <a href="/other/privacy.shtml?ref=ftr">Privacy</a> | <a href="/other/accessibility.shtml?ref=ftr">Accessibility</a></p>
			</div>
		</div>
		<!-- End: Footer -->
	</div>
	<!-- End: PageHeight -->
<!--************* END OF STANDARD BUREAU FOOTER **************-->

<!-- Google Analytics -->
<script type="text/javascript">
var hostname = window.location.hostname;
var host = hostname.split(".");
if (host[0] == "reg")
{
	var _gaq = _gaq || [];
	_gaq.push(['_setAccount', 'UA-20386085-1']);
	_gaq.push(['_trackPageview']);
}
else if (host[0] == "www")
{
	var _gaq = _gaq || [];
	_gaq.push(['_setAccount', 'UA-3816559-1']);
	_gaq.push(['_trackPageview']);
}
else if (host[0] == "wdev")
{
	var _gaq = _gaq || [];
	_gaq.push(['_setAccount', 'UA-21709175-1']);
	_gaq.push(['_trackPageview']);
}
(function() {
	var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
})();
</script>